<section id="about" class="about about-container about-body">
  <p class="about_title_one about-title">tradition and love</p>
  <h2 class="about_title_main about-title-two">how it’s made?</h2>
  <div class="about_content">
    <div class="about_img-wap">
      <img class="about_images about-img" src="/src/images/cow@2x.jpg" alt="Cow" />
    </div>
    <div class="about_text-btn">
      <div class="about-content_paragraph">
        <p class="about_paragraph about-p">
          Ice is a place where you will become not only a little happier, but also healthier. Health
          is the main value for us, and we follow it when creating our handmade desserts.
        </p>

        <p class="about_paragraph about-p">
          We use traditional recipes and 100% natural ingredients. Our products are so natural that
          they can be given to children from the age of three years. Sweets lovers can expect 55
          types of ice cream, 15 types of coffee and 23 milkshakes.
        </p>

        <p class="about_paragraph about-p">
          This is enough to choose ice cream and coffee for any mood!
        </p>
      </div>

      <button type="button" class="about_btn about-btn btn--primary" data-modal-open="read-more">
        Read more
        <svg class="about_btn-arrow" width="12" height="12">
          <use href="/src/images/icons.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="about-modal" data-modal="read-more">
    <button class="about_modal_close-btn" type="button" data-modal-close="read-more">
      <svg class="about_modal_close-btn-dec" width="20" height="20">
        <use href="/src/images/icons.svg#icon-Vector-2"></use>
      </svg>
    </button>
    <h2 class="about_title_main about_mt about-modal_title">How it’s made?</h2>
    <iframe
      class="about_modal-video"
      src="/src/images/about-ice-modal.mp4"
      frameborder="0"
      allowfullscreen
    ></iframe>

    <p class="about_video-descryption">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</section>
<script src="/src/read-more.js"></script>
<!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon.0e70d109.png" />    -->
