<section id="about" class="about about-container">
  <p class="about_title_one about- title">tradition and love</p>
  <h2 class="about_title_main about-title">how it’s made?</h2>
  <div class="about-content">
    <div>
      <img class="about_images about-img" src="07-group/src/images/cow.jpg" alt="cow" />
    </div>
    <div class="about_text-btn">
      <div class="about-content_paragraph">
        <p class="about_paragraph about-p">
          Ice is a place where you will become not only a little happier, but also healthier. Health
          is the main value for us, and we follow it when creating our handmade desserts.
        </p>

        <p class="about_paragraph about-p">
          We use traditional recipes and 100% natural ingredients. Our products are so natural that
          they can be given to children from the age of three years. Sweets lovers can expect 55
          types of ice cream, 15 types of coffee and 23 milkshakes.
        </p>

        <p class="about_paragraph about-p">
          This is enough to choose ice cream and coffee for any mood!
        </p>
      </div>

      <button type="button" class="about_btn about-btn btn--primary">
        Read more<svg width="12" height="12">
          <use href="#id-twojej-ikony"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<div>
  <svg width="20" height="20">
    <use href="src/images/icons.svg#icon-Vector-2"></use>
  </svg>
  <p>Jak to jest robione?</p>
  <video src="adres-twojego-wideo.mp4"></video>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et
  </p>
</div>
