<div class="adantages-container">
  <section class="advantages">
    <ul class="advantages-list">
      <li class="advantages-cow">
        <a class="advantages-title">721</a>
        <a class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</a>
      </li>
      <li class="advantages-weight">
        <a class="advantages-title">16KG</a>
        <a class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</a>
      </li>
      <li class="advantages-ice-cream">
        <a class="advantages-title">84</a>
        <a class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</a>
      </li>
    </ul>
  </section>
</div>
