<div class="advantages-container">
  <section class="advantages">
    <ul class="advantages-list">
      <li class="advantages-items">
        <div class="advantages-container-icons">
          <svg class="advantages-cow-icon" width="36" height="36">
            <use href="./images/advantages-icons.svg#icon-cow"></use>
          </svg>
        </div>
        <p class="advantages-title">721</p>
        <div class="container-text">
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li class="advantages-items">
        <div class="advantages-container-icons">
          <svg class="advantages-weight-icon" width="36" height="36">
            <use href="./images/advantages-icons.svg#icon-weight"></use>
          </svg>
        </div>
        <p class="advantages-title">16kg</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-items">
        <div class="advantages-container-icons">
          <svg class="advantages-ice-cream-icon" width="36" height="36">
            <use href="./images/advantages-icons.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <p class="advantages-title">84</p>
        <div class="advantages-container-text"></div>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </section>
</div>
