<section class="advantages">
  <ul>
    <li class="cow">
      <!-- <svg id="icon-cow" width="36" height="36">
        <use href="./images/icons.svg/#icon-cow"></use>
      </svg> -->
      <a>721</a>
      <a>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</a>
    </li>
    <li class="weight">
      <!-- <svg id="icon-weight" width="36" height="36">
        <use href="./images/icons.svg/#icon-weight"></use>
      </svg> -->
      <a>16KG</a>
      <a>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</a>
    </li>
    <li class="ice-cream">
      <!-- <svg id="icon-ice-crema" width="36" height="36">
        <use href="./images/icons.svg/#icon-ice-crema"></use>
      </svg> -->
      <a>84</a>
      <a>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</a>
    </li>
  </ul>
</section>
