<div class="contacts-container">
  <section class="contacts-contacts">
    <ul class="contacts-cities">
      <li class="contacts-cards-cities">
        <ul class="contacts-list-cities">
          <li class="contacts-fake-btns-cities">CAFE</li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Chicago</li>
              <li class="contacts-address">
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Monday - Friday</li>
              <li class="contacts-mon-fri">06:00 AM - 10:00 PM</li>
              <li class="contacts-city">Saturday - Sunday</li>
              <li class="contacts-sat-sun">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-links">
                <a href="telto:+61(0)383766284" class="contacts-link"
                  >+61 (0) 383 766 284</a
                >
              </li>
              <li class="contacts-links">
                <a href="mailto:noreply@envato.com" class="contacts-link"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts-cards-cities">
        <ul class="contacts-list-cities">
          <li class="contacts-fake-btns-cities">FOODTRACK</li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Los Angeles</li>
              <li class="contacts-address">
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
              </li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Monday - Friday</li>
              <li class="contacts-mon-fri">06:00 AM - 10:00 PM</li>
              <li class="contacts-city">Saturday - Sunday</li>
              <li class="contacts-sat-sun">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-links">
                <a href="telto:+61(0)383766284" class="contacts-link"
                  >+61 (0) 383 766 284</a
                >
              </li>
              <li class="contacts-links">
                <a href="mailto:noreply@envato.com" class="contacts-link"
                  >noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts-cards-cities">
        <ul class="contacts-list-cities">
          <li class="contacts-fake-btns-cities">CAFE</li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">New York</li>
              <li class="contacts-address">
                726 Sterling Pl, Brooklyn, NY 11222, USA
              </li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Monday - Friday</li>
              <li class="contacts-mon-fri">06:00 AM - 10:00 PM</li>
              <li class="contacts-city">Saturday - Sunday</li>
              <li class="contacts-sat-sun">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-links">
                <a href="telto:+61(0)383766284" class="contacts-link">
                  +61 (0) 383 766 284</a
                >
              </li>
              <li class="contacts-links">
                <a href="mailto:noreply@envato.com" class="contacts-link"
                   >noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-btns">
      <li class="contacts-list-btn">
        <div class="contacts-list-btn">
          <button
            type="button"
            class="contacts-btn-modal-11"
            data-modal-open-11
          >
            Our Locations >
          </button>
        </div>
      </li>
      <li class="contacts-list-btn">
        <div class="contacts-list-btn">
          <button
            type="button"
            class="contacts-btn-modal-12"
            data-modal-open-12
          >
            Franchise >
          </button>
        </div>
      </li>
    </ul>
  </section>
</div>
<div class="backdrop-11 is-hidden" data-modal-11>
  <div class="modal-11">
    <span class="contacts-location-header">Our Locations</span>
    <figcaption class="contacts-map"></figcaption>
    <button type="button" class="contacts-map-open"></button>
    <button type="button" class="close-btn-11" data-modal-close-11>
      X
    </button>
  </div>
</div>
<div class="backdrop-12 is-hidden" data-modal-12>
  <div class="modal-12">
    <span class="contacts-form-header">Our Locations</span>
    <div class="contacts-modal-forms">
      <form class="contacts-modal-form" name="comment" autocomplete="on" required></form>
       <label class="contacts-label-modal" for="name">
         <input
           class="contacts-input"
           type="user_name"
           name="name"
           id="user_name"
           placeholder="Name"
           required
           />
        </label>
        <label class="label-modal" for="phone"
        > <input
           class="contacts-input"
           type="number"
           name="phone"
           id="phone"
           placeholder="Phone"
           required
          />
        </label>
        <label class="label-modal" for="email"
         ><input
           class="contacts-input"
           type="email"
           name="email"
           id="email"
           placeholder="E-mail"
           required
        />
        </label>
        <label class="label-modal" for="comment" novalidate>
          <textarea
           class="textarea-modal"
           name="comment"
           rows="8"
           placeholder="comment"
        > </textarea>
        </label>
      </form>
    </div>
        <button type="button" class="close-btn-12" data-modal-close-12>X</button>
  </div>
</div>
<script src="./modal.js"></script>