<div class="contacts-container">
  <section class="contacts-contacts">
    <ul class="contacts-cities">
      <li class="contacts-cards-cities">
        <ul class="contacts-list-cities">
          <li class="contacts-fake-btns-cities">CAFE</li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Chicago</li>
              <li class="contacts-address">10340 Ridgeland Ave,</li>
              <li class="contacts-address">Chicago Ridge, IL 60415, USA</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Monday - Friday</li>
              <li class="contacts-opn-cls">06:00 AM - 10:00 PM</li>
              <li class="contacts-city">Saturday - Sunday</li>
              <li class="contacts-opn-cls">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-links">
                <a href="telto:+61(0)383766284" class="contacts-link">+61 (0) 383 766 284</a>
              </li>
              <li class="contacts-links">
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts-cards-cities">
        <ul class="contacts-list-cities">
          <li class="contacts-fake-btns-cities">FOODTRACK</li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Los Angeles</li>
              <li class="contacts-address">1003 Manhattan Ave, Manhattan</li>
              <li class="contacts-address">Beach, CA 90263, USA</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Monday - Friday</li>
              <li class="contacts-opn-cls">06:00 AM - 10:00 PM</li>
              <li class="contacts-city">Saturday - Sunday</li>
              <li class="contacts-opn-cls">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-links">
                <a href="telto:+61(0)383766284" class="contacts-link">+61 (0) 383 766 284</a>
              </li>
              <li class="contacts-links">
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts-cards-cities">
        <ul class="contacts-list-cities">
          <li class="contacts-fake-btns-cities">CAFE</li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">New York</li>
              <li class="contacts-address">726 Sterling Pl, Brooklyn, NY</li>
              <li class="contacts-address">11222, USA</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-city">Monday - Friday</li>
              <li class="contacts-opn-cls">06:00 AM - 10:00 PM</li>
              <li class="contacts-city">Saturday - Sunday</li>
              <li class="contacts-opn-cls">08:00 AM - 16:00 PM</li>
            </ul>
          </li>
          <li>
            <ul class="contacts-list-city">
              <li class="contacts-links">
                <a href="telto:+61(0)383766284" class="contacts-link"> +61 (0) 383 766 284</a>
              </li>
              <li class="contacts-links">
                <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-btns">
      <li class="contacts-list-btn">
        <button class="contacts-btn-modal" type="button">Our Locations ></button>
      </li>
      <li class="contacts-list-btn">
        <button class="contacts-btn-modal" type="button">Franchise ></button>
      </li>
    </ul>
  </section>
</div>
