<section class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-headwrapper">
        <h2 class="footer-heading">Homemade ice cream made</h2>
        <p class="footer-slogan">with passion</p>
      </div>
      <div class="social-wrapper">
        <ul class="social">
          <li class="social-item">
            <a href="https://www.github.com/" class="social-link">
              <svg class="social-link_icon" width="34" height="34">
                <use href="/src/images/icons.svg#icon-inee"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.telegram.com/" class="social-link">
              <svg class="social-link_icon" width="34" height="34">
                <use href="/src/images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.facebook.com/" class="social-link">
              <svg class="social-link_icon" width="34" height="34">
                <use href="/src/images/icons.svg#icon-fbb"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contact">Feel free to footer-contact
          <a class="footer-contact_link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright-wrapper">
        <p class="copyright-text">© 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</section>