<section class="gallery">
      <div class="gallery-photo"></div>

      <div class="customer-reviews">
          <div class="customer-reviews-block">
            <img class="customer-reviews-customer"
              src="./ice-cream-images/slider-pic-1.jpg"
              alt="a lady with long black hair"
            />
            <div class="customer-reviews-ractangle">
              <p class="customer-reviews-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
              </div>
        <h1 class="customer-reviews-name">Emily, Los Angeles</h1>
            </div>

          <div class="customer-reviews-block">
            <img class="customer-reviews-customer"
              src="./ice-cream-images/slider-pic-2.jpg"
              alt="a man with a pink cap"
            />
            <div class="customer-reviews-ractangle">
              <p class="customer-reviews-text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
              </div>
        <h1 class="customer-reviews-name">Bryan, New-York</h1>
            </div>

          <div class="customer-reviews-block">
            <img class="customer-reviews-customer"
              src="./ice-cream-images/slider-pic-3.jpg"
              alt="a lady with a glasses"
            />
            <div class="customer-reviews-ractangle">
              <p class="customer-reviews-text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
              </div>
        <h1 class="customer-reviews-name">Diana, Chicago</h1>
            </div>
        </div>

        <div class="slideshow-pagination">
          <input
            type="radio"
            class="pagination-input"
            name="pagination"
            id="page1"
            checked
          />
          <label class="pagination-label" for="page1"></label>

          <input
            type="radio"
            class="pagination-input"
            name="pagination"
            id="page2"
          />
          <label class="pagination-label" for="page2"></label>

          <input
            type="radio"
            class="pagination-input"
            name="pagination"
            id="page3"
          />
          <label class="pagination-label" for="page3"></label>
        </div>
      </div>
    </section>
