<header>
<div class="header-container">
        <div class="header-wrapper">
            <div class="header-wrapper-logo">

        <svg class="header-logo-ice-cream" width="22.32px" height= "44.17px">
         <use href="./images/icons.svg#icon-Vector-1"></use>
     </svg>
     <span class="header-logo">ce</span>
    </div>
  </div> 
    <button
   
    class="menu-toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu">

    <div class="header-menu-toggle-button"><svg  width="32" height="32">
   <use href="./images/icons.svg#icon-charm_menu-hamburger-1"></use></svg></div>
</button>
  
    


     <nav class="header-navigation">
        <ul class="header-nav-description">
            <li><a href="#header" class="header-nav-button">Home</a></li>
            <li><a href="#about" class="header-nav-button">How it's made?</a></li>
            <li><a href="#products" class="header-nav-button">Our products</a></li>
            <li><a href="#contact" class="header-nav-button">Contact</a></li>
            </ul>
            </nav>
    
     
<div class="js-menu-container">
<div class="header-wrapper-modal">
        <div class="header-wrapper-logo">

          <svg class="header-logo-ice-cream" width="22.32px" height= "44.17px">
           <use href="./images/icons.svg#icon-Vector-1"></use>
       </svg>
       <span class="header-logo">ce</span>
      </div>
        <button class="modal-button js-close-menu ">
          <svg class="header-button-close" width="8" height="8">
            <use href="./images/icons.svg#icon-Vector-2"></use>
          </svg>
        </button>
      </div>
        
        <ul class="header-hamburger">
          <li><a href="#header" class="header-hamburger-button">Home</a></li>
          <li><span><a href="#about" class="header-hamburger-button-w">How it's made? </a></span></li>
          <li><a href="#products" class="header-hamburger-button">Our products</a></li>
          <li><a href="#contact" class="header-hamburger-button">Contact</a></li>
        </ul>



     <button class="header-buy-now" type="button">Buy now
        <svg class="header-arrow" width="12" height="12">
            <use href="./images/icons.svg#icon-ep_arrow-right-bold"></use>
          </svg>
     </button>  
      </div>
    </div>
</header>




