<header>
    <div class="header-container">
        <svg>
         <use href="./images/icons.svg#icon-Vector-1"></use>
     </svg>
     <p>CE</p>
     <button
     type="button"
     class="menu-toggle js-open-menu"
     aria-expanded="false"
     aria-controls="mobile-menu">

     <svg class="menu-toggle-button" width="40" height="40">
    <use href="./images/icons.svg#icon-charm_menu-hamburger-1"></use></svg>
</button>
   

     <nav class="navigation">
         <ul class="nav-description">
             <li>
         <a class="nav-button">Home</a></li>
         <li>
         <a class="nav-button"> How it's made?</a></li>
         <li>
         <a class="nav-button">Our products</a></li>
         <li>
         <a class="nav-button">Contact</a></li>
     </ul>
     </nav>
    
     <button class="buy-now" type="button">Buy now</button>  
 </div>   
</header>
