<section class="hero">
  <div class="container container-background">
    <h1 class="hero-title">ICE CREAM MADE WITH 
      <span class="hero-title-accent"> PASSION </span></h1>
    <div class="hero-buttons">
      <a href="#products">Products</a>
      <a href="#about">How it's made?</a>
    </div>
    <div class="hero-description">
      <img 
      src="./images/hero/tab-plate1x.png" 
        alt="plate with ice-creams and fruits"
        srcset="
        ./images/hero/tab-plate1x.png 1x 152w,
        ./images/hero/tab-plate2x.png 2x 152w,
        ./images/hero/plate1x.png 1x 225w,
        ./images/hero/plate2x.png 2x 225w"
       
        sizes="(min-width: 768px) 152px, (min-width: 1200px) 225px, 100vw"
      />

      <div class="hero-text-arrow">
      <p class="hero-text">Indulge in a scoop of ice cream made with passion and treat your taste buds to an
      unforgettable experience!</p>
      <a href="#products">
        <svg class="hero_arrow" width="41" height="15">
          <use href="/src/images/icons.svg#icon_Arrow"></use>
        </svg>
      </a>
      </div>
    </div>
    <div class="stats"></div>
    <div class="image-wrapper">
      <img 
      src="./images/hero/hero-mobile1x.png"
      alt="Ice-cream"
      srcset="
      ./images/hero/hero-mobile1x.png 1x 177w,
      ./images/hero/hero-mobile2x.png 2x 177w,
      ./images/hero/hero-tab1x.png 1x 268w,
      ./images/hero/hero-tab2x.png 2x 268w,
      ./images/hero/hero-desk1x.png 1x 456w,
      ./images/hero/hero-desk2x.png 2x 456w"

      sizes="(min-width: 1200px) 447px, (min-width: 768px) 257px, 157px, 110vw" />
      
  </div>
</section>