<section class="hero">
  <img class="container container-background">
    <h1 class="hero-title">ICE CREAM MADE WITH 
      <span class="hero-title-accent"> PASSION </span></h1>
    <div class="hero-buttons">
      <a href="#products">Products</a>
      <a href="#about">How it's made?</a>
    </div>
    <div class="hero-description">
      <img 
      >

      <div class="hero-text-arrow">
      <p class="hero-text">Indulge in a scoop of ice cream made with passion and treat your taste buds to an
      unforgettable experience!</p>
      <a href="#products">
        <svg>
          <use ></use>
        </svg>
      </a>
      </div>
    </div>
    <div class=></div>
    <img
    />
  </div>
  <div class="stats">
  </div>
</section>