<section class="hero-section">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        ICE CREAM MADE WITH <span class="hero-title-accent"> PASSION </span>
      </h1>
      <div class="hero-numbers">
        <div class="statistics">
          <p class="stats-number">16</p>
          <p class="stats-text">cafes</p>
        </div>
        <div class="statistics">
          <p class="stats-number">23</p>
          <p class="stats-text">food trucks</p>
        </div>
      </div>
    </div>
    <div class="hero-buttons">
      <a class="hero-button-border button" href="#products">Products</a>
      <a class="hero-button-underline button" href="#about">How it's made?</a>
    </div>
    <div class="hero-description">
      <img
        src="./images/hero/tab-plate1x.png"
        class="hero-plate"
        alt="plate with ice-creams and fruits"
        srcset="
          ./images/hero/tab-plate1x.png 1x 152w,
          ./images/hero/tab-plate2x.png 2x 152w,
          ./images/hero/plate1x.png 1x 225w,
          ./images/hero/plate2x.png 2x 225w"
        sizes="(min-width: 768px) 152px, (min-width: 1200px) 225px, 100vw"
      />

      <div class="hero-text-arrow">
        <p class="hero-text">
          Indulge in a scoop of ice cream made with passion and treat your taste buds to an
          unforgettable experience!
        </p>
        <a class="hero-link" href="#products">
          <svg class="hero-arrow" width="40px" height="16px">
            <use href="./images/icons.svg#icon-Arrow"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="hero-image-wrapper">
      <img
        src="./images/hero/hero-mobile1x.png"
        class="hero-icecream"
        alt="ice-cream balls, with smiles"
        srcset="
          ./images/hero/hero-mobile2x.png 2x,
          ./images/hero/hero-tab1x.png    1x,
          ./images/hero/hero-tab2x.png    2x,
          ./images/hero/hero-desk1x.png   1x,
          ./images/hero/hero-desk2x.png   2x
        "
        sizes="(min-width: 768px) 354px, (min-width: 1200px) 270px, 100vw"
      />
    </div>
  </div>
</section>
