.about-body {
  background-color: var(--color-background);
  letter-spacing: 0.04em;
  color: var(--color-font-dark);
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  line-height: 1.76;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
*,
:before,
:after {
  box-sizing: border-box;
}
.about-img {
  max-width: 100%;
  height: auto;
  display: block;
}
.about-p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about_title_one {
  color: var(--color-font-bright);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .about_title_one {
    letter-spacing: 0.88px;
    font-size: 22px;
    font-weight: 800;
  }
  @media screen and (min-width: 1200px) {
    .about_title_one {
      letter-spacing: 1.2px;
      font-size: 30px;
    }
  }
}

.about-title-two {
  color: var(--color-font-bright);
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  max-width: 200px;
  margin: 0 auto 35px;
  font-family: Seymour One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .about-title-two {
    max-width: 100%;
    letter-spacing: 2.04px;
    margin-bottom: 72px;
    font-size: 34px;
  }
  @media screen and (min-width: 1200px) {
    .about-title-two {
      letter-spacing: 2.16px;
      margin-bottom: 84px;
      font-size: 36px;
    }
  }
}
.about-container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 1200px) {
  .about-container {
    max-width: 1200px;
    padding: 0 16px;
  }
  @media screen and (min-width: 768px) {
    .about-container {
      max-width: 768px;
      padding: 0 32px;
    }
  }
  @media screen and (min-width: 480px) {
    .about-container {
      max-width: 480px;
    }
  }
}

.about {
  padding-top: 60px;
}
.about_text-btn {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}
@media screen and (min-width: 480px) {
  .about_text-btn {
    max-width: 220px;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 768px) {
    .about_text-btn {
      max-width: 334px;
      text-align: left;
      align-items: baseline;
      gap: 24px;
    }
    @media screen and (min-width: 1200px) {
      .about_text-btn {
        max-width: 463px;
        gap: 50px;
      }
    }
  }
}

.about_content {
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .about_content {
    justify-content: left;
    gap: 108px;
  }
  @media screen and (min-width: 768px) {
    .about_content {
      flex-wrap: nowrap;
      align-items: center;
      gap: 32px;
    }
  }
}

.about_paragraph {
  color: var(--color-font-bright);
  margin-bottom: 4px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
}
@media screen and (min-width: 768px) {
  .about_paragraph {
    letter-spacing: 0.48px;
    margin-bottom: 8px;
    line-height: 176%;
  }
  @media screen and (min-width: 1200px) {
    .about_paragraph {
      letter-spacing: 0.56px;
      font-size: 14px;
      line-height: 194%;
    }
  }
}

.about_paragraph :first-child {
  letter-spacing: 0.48px;
  line-height: 176%;
}
@media screen and (min-width: 1200px) {
  .about_paragraph :first-child {
    letter-spacing: 0.64px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 176%;
  }
}
.about_images {
  width: 100%;
  border-radius: 1038.58px;
  margin-top: 21.82px;
  box-shadow: 0 -21.82px;
  color: var(--color-default);
}
@media screen and (min-width: 768px) {
  .about_images {
    margin-top: 25.88px;
    box-shadow: 0 -25.88px var(--color-default);
  }
  @media screen and (min-width: 1200px) {
    .about_images {
      margin-top: 39px;
      box-shadow: 0 -39px var(--color-default);
    }
  }
}
.about_img-wap {
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .about_img-wap {
    max-width: calc(50% - 16px);
  }
  @media screen and (min-width: 1200px) {
    .about_img-wap {
      max-width: 490px;
      width: 490px;
    }
  }
}

.about-content_paragraph {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about-content_paragraph {
    text-align: left;
  }
}

.about_btn {
  color: var(--color-font-dark);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.about-btn {
  color: var(--color-font-dark);
  width: 164px;
  height: 42px;
  cursor: pointer;
  background-color: var(--color-default);
  border: none;
  border-radius: 10px;
  flex-shrink: 0;
  align-items: center;
  gap: 4px;
  display: inline-flex;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal */
.is-hidden {
  display: none;
}
.about_modal_close-btn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
}
@media screen and (min-width: 768px) {
  .about_modal_close-btn {
    top: 20px;
    right: 20px;
  }
}
.about_modal_close-btn-dec {
  fill: #131313;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.about-modal {
  width: 280px;
  background: var(--color-font-bright);
  border: 2px solid var(--color-default);
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 28px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
@media screen and (min-width: 768px) {
  .about-modal {
    width: 568px;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
.about_modal-video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about_modal-video {
    height: 205px;
    margin-bottom: 32px;
  }
}

.about-modal_title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Seymour One;
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .about-modal_title {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.4;
  }
}
.about_video-descryption {
  letter-spacing: 0;
  font-size: 1.4rem;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .about_video-descryption {
    font-size: 16px;
  }
}
