.about-body {
  background-color: #84a178;
  letter-spacing: 0.04em;
  color: var(--color-font-dark);
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  line-height: 1.76;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
.about-img {
  max-width: 100%;
  height: auto;
  display: block;
}
.about-p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about-title {
  max-width: 200px;
  color: #fcfcfc;
  margin: 0 auto 35px;
}
.about_title_one {
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.23;
}

.about_title_main {
  text-align: center;
  text-transform: uppercase;
  font-family: Seymour One, sans-serif;
  font-size: 3rem;
  line-height: 1.27;
}
.about-container {
  margin: 0 auto;
  padding: 0 20px;
}
.about {
  color: var(--color-font-bright);
  padding-top: 60px;
}
.about_text-btn {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.about_content {
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  display: flex;
}

.about_paragraph {
  color: #fcfcfc;
  font-size: 1.2rem;
}
.about_paragraph :first-child {
  margin-bottom: 4px;
}
.about_images {
  width: 100%;
  border-radius: 1038.58px;
  margin-top: 21.82px;
  box-shadow: 0 -21.82px;
  color: #f8d24e;
}
.about-content_paragraph {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}
.about_btn {
  align-items: center;
  gap: 5px;
  display: flex;
}
.about-btn {
  color: #131313;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
  outline: none;
  padding: 10px 32px;
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.29;
  display: inline-block;
}
.btn--primary {
  background-color: #f8d24e;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
/* modal */
.about_modal-video {
  max-width: 448px;
  max-height: 205px;
  min-width: 224dp;
  min-height: 199dp;
}
