ul {
  list-style: none;
  padding-inline-start: 0;
}

.advantages {
  background-color: #84a178;
  /* position: relative; */
}

.advantages-container-icons::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #f8d24e;
  border-radius: 50%;
  z-index: -1;
}

.advantages-container-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 35px;
}

.advantages-title {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.advantages-text {
  color: white;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.advantages-title,
.advantages-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ------ MOBILE ------ */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .advantages-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* ------ MOBILE ------ */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .advantages-container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* ------ TABLET ------ */
@media (min-width: 768px) and (max-width: 1199px) {
  .advantages-container {
    max-width: 768px;
  }
  .advantages-list {
    display: flex;
    justify-content: space-between;
  }

  .advantages-items {
    text-align: center;
  }
}

/* ------ DESKTOP ------ */
@media (min-width: 1200px) {
  .advantages-container {
    max-width: 1200px;
  }

  .container-text {
    max-width: 368px;
  }
  .advantages-list {
    display: flex;
    justify-content: space-between;
  }

  .advantages-items {
    text-align: center;
  }
}
