@media screen and (max-width:767px){
    .header-container{
        width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color:var(--color-background);
    color:var(--color-background);
        }
    }
    .header-wrapper{
        display: flex;
        }
    .header-wrapper-logo{
        display: flex;
        margin-top: 14px;
        margin-left: 20px;
        align-items: flex-end;
      }
    
    .header-logo-ice-cream{
       border-color:var(--color-default);
       fill:var(--color-default);
    }
    .header-logo{
    font-family: Seymour One;
    font-size: 14.874px;
    text-transform:0.7px var(--color-default);
    -webkit-text-stroke: 0.7px var(--color-default);
    letter-spacing: -1.487px;
    font-weight: 400;
    
    }
    
    .js-menu-container {
        display: none;
       }
       .js-menu-container.is-open {
        display: flex;
        flex-direction: column;
        background-color: var(--color-font-bright);
       }
       .js-open-menu {
        stroke: black;
        fill: black;
       }


@media screen and (min-width:768px){
    .container{
        width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color:var(--color-background);
    color:var(--color-background);
    }

    @media screen and (min-width:1200px){
        .container{
            width: 100%;
            background-color:var(--color-background);
            color:var(--color-background);
            max-width: 1158px;
            padding: 0px;
            margin:0 auto;
        }
    }
 
}
.header-wrapper{
    display: flex;
    }
.header-wrapper-logo{
    display: flex;
    margin-top: 14px;
    margin-left: 20px;
    align-items: flex-end;
  }

.header-logo-ice-cream{
   border-color:var(--color-default);
   fill:var(--color-default);
}
.header-logo{
font-family: Seymour One;
font-size: 14.874px;
text-transform:0.7px var(--color-default);
-webkit-text-stroke: 0.7px var(--color-default);
letter-spacing: -1.487px;
font-weight: 400;

}




.menu-toggle{
    display: flex;
    margin-right: 8px;
    background: none;
    border: none;

}
.header-menu-toggle-button{
    max-width: 32px;
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    stroke: var(--color-font-bright);
    stroke-width: 2px;
    border: none;
  
    
    
}
.header-navigation{
    display:none;
}
.header-nav-description{
  
    list-style: none;
    color:var(--color-font-dark);
}

.header-buy-now{
  
    background-color:var(--color-default);
border-radius: 10px;
border: 0px solid transparent;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 36px;
padding-right: 51px;

}

.header-arrow{
   vertical-align: middle;}

   .header-hamburger{
    list-style: none;
    text-align: center;
    
    }
    .header-hamburger-button{
        color: var(--color-font-bright);
        font-size: 32px;
    font-weight: 700;
    }
    .header-hamburger-button-w{
        color:black;
        font-size: 32px;
        font-weight: 700;
        
    }
    .header-close-button{
        color:var(--color-font-bright);


   }

   .button-modal{
  fill:var(--color-font-bright);
    width: 30px;
    height: 30px;
    border:none;
    background-color:var(--color-background);
    cursor: pointer;
    padding: 5px;
    margin: 8px 8px 0 0;
    position: absolute;
    inset: 0 0 auto auto;

   }