.products {
    top: -20px;
    background: url(./images/background-mobile.jpg);
    }
.products__text {
    color: #131313;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 60px;
}

.products__heading {
    color: #131313;
    text-align: center;
    font-family: Seymour One;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.products__title {
    color: #131313;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 131px;
}
.products__descr {
    text-align: center;
    color: #131313;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.56px;
    margin-top: 40px;
    height: 100px;
    line-height: 176%;
}
.products__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.products__space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}
.products__span {
    color: #131313;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 61px;
    }
.products__ice {
    position: relative;
    top: -95px;
    background: var(--color-body-1);
    height: 428px;
    max-width: 320px;
    border-radius: 24px;
    margin-inline: 80px 80px;
    padding-inline: 60px;
    }
.products__coffe {
    position: relative;
    top: -95px;
    max-width: 320px;
    padding-inline: 60px;
    background: var(--color-body-2);
    height: 428px;
    border-radius: 24px;
    margin-inline: 80px 80px;
}
.products__milkshake {
    top: -95px;
    position: relative;
    background: var(--color-body-3);
    max-width: 320px;
    padding-inline: 60px;
    height: 428px;
    border-radius: 24px;
    margin-inline: 80px 80px;
}
.products__img {
    z-index: 2;
    display: block;
    position: relative;
    height: 200px;
    border-radius: 100px;
    fill: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #d9d9d9;
    filter: drop-shadow(0px 5.3421931267px 20.0332221985px rgba(10, 136, 23, 0.25));
}
.products__picture-overlay {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    
    &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    }
} 
.products__picture-overlay__first::before {
    background-color: rgba(156, 190, 143, 0.7);
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.products__picture-overlay__second::before {
    background-color: rgba(248, 210, 78, 0.7);
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.products__picture-overlay__third::before {
    background-color: rgba(213, 117, 63, 0.7);
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}

.products__btn {
    display: flex;
    align-items: center;
    margin: 106px auto 0;
    cursor: pointer;
    width: 40px;
    height: 16px;
    background-color: transparent;
    transition: transform 400ms ease-in-out;
    border: none;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: visibility;
    transition-delay: 250ms;
    }
    
.modal {
    visibility: visible;
    z-index: 4;
    position: absolute;
    width: 100%;
    max-width: 280px;
    background-color: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid var(--color-default);
    display: block;
    overflow: auto;
    }
.modal__button {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff;
    right: 8px;
    border: none;
    top: 8px;
    cursor: pointer;
}
.modal__headline {
    margin: 28px auto 20px;
    text-align: center;
    font-size: 20px;
    color: #131313;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 28px;
    font-family: Seymour One;
}
.modal__label {
    display: flex;
    flex-direction: column;
    position: relative;
}
.modal__label-name {
    margin: 40px 0 16px;
    display: block;
    padding: 12px 16px;
    height: 40px;
    border: 1px solid var(--color-background);
    background: rgba(248, 210, 78, 0.1);
    border-radius: 10px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label-name::placeholder {
    color: #131313;
    font-weight: 400;
    line-height: 140%;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
}
.modal__label-tel {
    display: block;
    padding: 12px 16px;
    height: 40px;
    border: 1px solid var(--color-background);
    background: rgba(248, 210, 78, 0.1);
    border-radius: 10px;
    outline: none;
    font-family: Montserrat;
}
.modal__label-tel::placeholder {
    color: #131313;
    font-weight: 400;
    line-height: 140%;
    font-size: 14px;
}
.modal__label-textarea {
    margin-top: 16px;
    display: block;
    height: 120px;
    resize: none;
    border: 1px solid var(--color-background);
    background: rgba(248, 210, 78, 0.1);
    border-radius: 10px;
    outline: none;
    padding: 12px 16px;
}
.modal__label-textarea::placeholder {
    color: #131313;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.modal__button-send {
    display: flex;
    align-items: center;
    margin: 30px auto;
    padding: 10px 76px;
    border-radius: 10px;
    border: none;
    background: #efd478;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #131313;
    cursor: pointer;
}
.modal__button-send:hover,
.modal__button-send:focus {
    background: var(--color-default);
    scale: 1.05;
}

.modal__img {
    border-radius: 132px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #d9d9d9;
    box-shadow: 0px 5.2602739334px 19.726026535px 0px rgba(10, 136, 23, 0.25);
    width: 132px;
    height: 132px;
    margin-left: 54px;
}
    
.calorie__list {
    display: flex;
    gap: 9px;
    margin: 20px auto 0;
    justify-content: center;
    padding: 0;
}
.calorie__item {
    display: inline-flex;
    flex-direction: column;
}
.calorie__item-border1 {
    margin: 1px 5px 28px;
    position: absolute;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 43px;
    border: 2px solid var(--color-modal-chocolate-ice-cream);
    background: var(--color-modal-chocolate-ice-cream);
    box-shadow: 0px 6px 20px 0px rgba(10, 136, 23, 0.25);
}
.calorie__item-border2 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    width: 52px;
    height: 72px;
    border-radius: 40px;
    border: 2px solid var(--color-modal-chocolate-ice-cream);
    color: #131313;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}
.ing {
    padding-inline-start: 0;
}
.ingredients__headline {
    margin: 40px auto 24px;
    text-align: center;
}
.ingredients__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}
    
