
:root {
 --color-background: #84A178;
 --color-default: #F8D24E;
 --color-hover: #0A8817;
 --color-disabled: #ABABAB;
 --color-modal-chocolate-ice-cream: #9CBE8F;
 --color-font-dark: #131313;
 --color-font-bright: #FCFCFC;
 --color-body-1: #AEC6A5;
 --color-body-2: #EFD478;
 --color-body-3: #D6936D;
 --color-inactive-slider: #D9D9D9;
 --color-form-background: rgba(248, 210, 78, 0.10);
 --color-contacts-background: #fff;
 --color-stroke: #E1E1E1;
 --color-stroke-footer: #7A7A7A;
